/********** General **********/
@media screen and (min-width: 0px) {
  /* Variables */
  :root {
    --font-family: "Roboto", sans-serif;
    --color-one: hsl(240, 0%, 95%);
    --color-two: hsl(240, 0%, 75%);
    --color-three: hsl(240, 0%, 55%);
    --color-four: hsl(240, 0%, 35%);
    --color-five: hsl(240, 0%, 15%);
    --primary-color: hsl(240, 55%, 55%);
    --delete-button: hsl(0, 55%, 55%);
    --highlight: hsl(30, 95%, 55%);
  }

  /* CSS Resets */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: var(--font-family);
    background-color: var(--color-one);
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: var(--color-four);
  }

  a:hover {
    color: var(--secondary-color);
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--color-one);
  }

  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 48px;
  }

  h4 {
    font-size: 36px;
    padding: 2rem;
    text-align: center;
  }

  h5 {
    font-size: 30px;
  }

  h6 {
    font-size: 24px;
  }

  section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

/********** List **********/
@media screen and (min-width: 0px) {
  .container {
    border-radius: 5px;
    max-width: 35rem;
    margin: 5rem auto;
    padding: 1rem;
    background-color: var(--color-two);
    box-shadow: 5px 5px 5px var(--color-three);
  }

  .container .add-form {
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--primary-color);
  }

  h2 {
    text-align: center;
  }

  button,
  #listName {
    border-radius: 5px;
    height: 25px;
  }

  label {
    color: var(--color-one);
  }

  button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-transform: capitalize;
  }

  .text-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    /* border: 1px solid black; */
  }

  table {
    width: 100%;
    /* border: 1px solid red; */
  }

  .list {
    margin: auto;
  }

  .row {
    max-width: 525px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-one);
    transition: all 0.2s ease-in-out;
  }

  .row:hover {
    cursor: grab;
  }

  .row:active {
    cursor: grabbing;
  }

  .dragging {
    transform: scale(1.03);
    background-color: var(--highlight);
    color: var(--color-one);
  }

  .check {
    text-align: center;
  }

  .item {
    width: 60%;
  }

  .delete {
    color: var(--color-one);
    background-color: var(--delete-button);
  }

  .done {
    text-decoration: line-through;
    color: var(--color-five);
  }
}
